.deck2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    padding-top: 13px;
    padding-bottom: 20px;
}

.fadediv1{
    width: 100%;
    border-radius: 12px;
    background-color: transparent;
    height: 219px;
    position:relative;
    bottom: 222px;
    margin-bottom: -222px;
    opacity: 0.9;
      
}
.fadediv1:hover{
    background-color: rgba(0, 0, 0, 0.321);
    transition: all 0.2s ease-in;
    cursor: pointer;
}